/* *{
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
 
}

.lista{
  display: flex;
  align-items: center;
  gap: 3px;
}


#inputPokemon {
  width: 80%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.pokemon-todos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.pokemon{
  border-radius: 1rem;
  background-color: grey;
  box-shadow: 0 0 3px -3px rgba(0, 0, 0, .25);
  padding-block: 1rem;
  text-transform: uppercase;
} */

.pokemon-imagen img{
  width: 100%;
  max-width: 6rem;
}

/* .pokemon-imagen{
  display: flex;
  justify-content: center;
} */

